@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap');

html,
body {
	padding: 0 !important;
	margin: 0 !important;
	height: 100vh !important;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-size: 1rem;
	scroll-behavior: smooth;
	overflow-x: hidden !important;
	overflow-y: auto !important;
	background: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.wrapper {
	height: auto !important;
	width: 100% !important;
	text-align: center;
	line-height: 1.4;
	padding-bottom: 0 !important;
}

.wrapper img {
	height: 60px !important;
	object-fit: contain;
	margin-right: 2em
}

.wrapper .notfound-404 {
	height: 200px;
}

.wrapper .notfound-404 h1 {
	font-size: 146px;
	font-weight: 700;
	margin: 0;
	/* color: #F4B334; */
	color: #232323;
	position: relative;
	z-index: 999;
}


.orange-plain {
	color: #f4b334 !important;
}

.orange {
	color: #f4b334 !important;
	font-weight: 600;
}

.orangew {
	color: #f4b334 !important;
	font-weight: 600;
	letter-spacing: 0.4em;
}

.wrapper .notfound-404 h1>span {
	display: inline-block;
	width: 120px;
	height: 120px;
	/* background-image: url('../img/mawingu-logo-icon.png'); */
	background-image: url('../img/emoji.png');
	background-size: cover;
	-webkit-transform: scale(1.4);
	-ms-transform: scale(1.4);
	transform: scale(1.4);
	position: relative;
	z-index: -1;
}

.wrapper h2 {
	font-size: 2rem;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
	color: #f4b334;
}

.wrapper p {
	color: #787878;
	font-weight: 300;
	font-size: 1rem;
	margin-bottom: 1rem;
	width: 90% !important;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	display: flex;
	flex-direction: row;
	width: 100% !important;
	align-items: flex-end;
	background: #2196f3;
	color: #fff;
	padding: 1em;
	justify-content: space-between;
	overflow: hidden;
}

.contact {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 50% !important;
	justify-content: space-around;
}

.contact div:first-of-type {
	margin-bottom: 1em;
}

.contact a {
	text-decoration: none !important;
	color: #ffffff !important;
	font-weight: 600;
	letter-spacing: 0.1em;
}

.contact a:first-of-type {
	margin-bottom: .4em;
}

.center-whole {
	width: 100% !important;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 1em;
}

.left-col {
	max-width: 40% !important;
	min-width: 300px !important;
	margin-left: auto;
	margin-right: auto;
}

.right-col {
	max-width: 40% !important;
	min-width: 300px !important;
	margin-left: auto;
	margin-right: auto;
}

.steps-list {
	text-align: left;
	color: #232323;
	font-size: 0.9rem;
	line-height: 1.8;
	font-weight: 600 !important;
	margin-top: 0 !important;
	margin-bottom: 1.2rem !important;
}

@media only screen and (max-width: 767px) {
	.wrapper .notfound-404 {
		height: 120px;
		margin-top: 6%;
	}

	.wrapper .notfound-404 h1 {
		font-size: 86px;
	}

	.wrapper .notfound-404 h1>span {
		width: 100px;
		height: 100px;
	}

	.wrapper img {
		height: 30px;
	}

	.left-col {
		min-width: 90% !important;
		/* max-width: 100% !important; */
	}

	.right-col {
		min-width: 90% !important;
		/* max-width: 100% !important; */
	}

	.center-whole {
		padding-bottom: 2% !important;
	}
}